<!DOCTYPE html>
<html lang="en">
<head>
    {{>metaTag}}
    {{!-- <link rel="stylesheet" href="./styling/index.css"> --}}
</head>
<body>
    <div class="container">
        <div class="set">
            {{>navbar}}
            <div class="main-content">
                <h1>welocome to this planet</h1>
                <p>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta veniam esse suscipit laboriosam obcaecati accusamus, omnis reiciendis delectus. In totam labore laboriosam! Veritatis, modi facere!ipsum, dolor sit amet consectetur adipisicing elit. Esse laudantium, molestias rem ex iusto aperiam.</p>
                <div class="btn">
                    <button class="primary-btn"><a style="color : white" href="#">explore</a></button>
                    <button class="primary-btn"><a style="color : white" href="#">register</a></button>
                </div>
            </div>


            
        </div>
    </div>


    <div class="gallery">
        <div class="set box-set">
            <div class="box1 b">
                <img src="https://th.bing.com/th?id=OIP.TaICFcRyzh9_jNooiFcqyAHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="later onn...">
                <div class="text-box">
                    <h2>rainfores</h2>
                    <p>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore architecto inventore nihil eos, incidunt ipsam aliquid molestiae velit, numquam voluptates, ducimus quas vitae voluptatum nobis.ipsum dolor sit amet consectetur adipisicing elit. Nemo quisquam, deserunt tempore recusandae odit ab.</p>
                    <button class="secondary-btn">explore</button>
                </div>
            </div>
            <div class="box2 b">
                <div class="text-box">
                    <h2>Amazon</h2>
                    <p>Lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta consequatur numquam, assumenda ut expedita laudantium minus sunt eius facere eos?ipsum dolor sit amet consectetur adipisicing elit. Nemo quisquam, deserunt tempore recusandae odit ab.</p>
                    <button class="secondary-btn">explore</button>
                </div>
                <img src="https://th.bing.com/th?id=OIP.5zyVbQk4m2bbRuqNRndr7gHaFj&w=288&h=216&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="later onn...">
                
            </div>
        </div>
    </div>


   {{>footer}}
</body>
</html>