<!DOCTYPE html>
<html lang="en">
<head>
    {{>metaTag}}
</head>
<body>
    <div class="set">
        {{>navbar}}


        <div class="magic">
            <h1>user details ...</h1>
            <h2>name : <span>Parth Kapoor</span></h1>
            <h2>age : <span>21</span></h1>
            <h2>email : <span>kapoorparth096@gmail.com</span>
            <h2>phone : <span>7626077247</span></h1>
            <h2><button class="secondary-btn"><a href="#">log out</a></button></h2>
        </div>
    </div>
    {{>footer}}
</body>
</html>