<!DOCTYPE html>
<html lang="en">
<head>
    {{>metaTag}}
</head>
<body>
    <div class="set">
        {{>navbar}}


        <div class="magic">
            <h1>user details ...</h1>
            <h2>name : <span>{{name}}</span></h1>
            <h2>age : <span>{{age}}</span></h1>
            <h2>email : <span>{{email}}</span>
            <h2>phone : <span>{{number}}</span></h1>
            <h2><button class="secondary-btn"><a href="/logout">log out</a></button></h2>
        </div>
    </div>
    {{>footer}}
</body>
</html>