<div class="footer">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint blanditiis excepturi voluptatibus perferendis reiciendis culpa itaque distinctio consectetur. Iste commodi, obcaecati amet atque quis nulla!</p>
   </div>