<div class="nav-bar">
<h2 class="logo">tour and travel</h2>
<ul class="nav-items">
    <li class="nav-item"><a href="/">home</a></li>
    <li class="nav-item"><a href="secret">secret page</a></li>
    <li class="nav-item"><a href="register">register</a></li>
    <li class="nav-item"><a href="login">login</a></li>
</ul>
</div>